.container {
    margin-top: 100px;
    margin-left: 100px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    background-color: #4d9a91;
    box-shadow: 2px 5px 10px -1px rgba(0, 0, 0, 0.75);
}

button {
    background-color: #3da9fc;
    /* Green */
    border: 1px solid blue;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 100px;
    display: block;
    margin-left: 100px;
}

p {
    position: relative;
    background-color: #4745d1;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 250px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

h4 {
    position: relative;
    background-color: #e0631a;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 250px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

/* .confirm {
    font-size: 40px;
}

.paragraph {
    font-size: 24px;
}

.redi {
    color: var(--black);
} */