.success {
    margin-top: 100px;
    margin-left: 100px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    background-color: #4d9a91;
    box-shadow: 2px 5px 10px -1px rgba(0, 0, 0, 0.75);

}